.search {
  flex: auto;
  display: flex;
}

.search__input {
  flex: auto;
  display: inherit;
  margin: 0;
  padding-inline: 10px;
  font-size: 20px;
  height: 60px;
  border: 1px solid var(--black);
}

.search__input:focus {
  outline: 1px solid var(--black);
}

.search__button {
  flex: 0 1 120px;
  display: inherit;
  height: 60px;
}
