{% extends 'grid.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block main %}
    <style>
        section {
            flex: auto;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        p {
            color: red;
        }
    </style>

    <section>
        <h2>Авторизация</h2>

        <form method="post">
            <div>
                <label for="email">Введите Ваш Email: </label>
                <input type="email" name="email" id="email" value="{{ form.email }}" required />
            </div>
            <div>
                <label for="password">Введите Ваш пароль: </label>
                <input type="password" name="password" id="password" value="{{ form.password }}" />
            </div>
            <div>
              <input type="submit" value="Вход" />
            </div>

            <a href="/sign-up/">Регистрация</a>
        </form>

        {% if errors %}
            <h2>Ошибки</h2>
            {% for error_name in errors %}
                <p>{{ errors[error_name] }}</p>
            {%endfor%}
        {% endif %}
    </section>
{% endblock %}
