{% extends 'grid.html' %}

{% block title %}
    Погода в {{ city }}
{% endblock %}

{% block main %}
    <style>
        .weather {
            flex: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        p {
            font-size: 16px;
            margin: 0;
        }
    </style>

    <article class="weather">
        {% if weather %}
            <h2>{{ weather.city }}</h2>
            <p> Статус: {{ weather.status }}</p>
            <p> Температура: {{ weather.temp }}</p>
            <p> Ощущается как: {{ weather.temp_feels }}</p>
        {% else %}
            <h2>{{ message }}</h2>
        {% endif %}
    </article>
{% endblock %}
