{% extends 'grid.html' %}

{% block title %}
    Погода в {{ city }}
{% endblock %}

{% block main %}
    <style>
        .weather {
            flex: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        p {
            font-size: 16px;
            margin: 0;
        }
    </style>

    <article class="weather">
        <h2>{{ city }}</h2>
        <p> Статус: {{ weather.status }}</p>
        <p> Температура в С: {{ weather.temperature.temp }}</p>
        <p> Ощущается как: {{ weather.temperature.feels_like }}</p>
    </article>
{% endblock %}
