:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #f4f4f4;
  --blue: #0066e1;
  --red: #dc0049;
  --green: #1e7b00;
  --purple: #8f00dc;

  --black-opacity: rgba(0, 0, 0, 0.6);
  --blue-opacity: rgba(0, 101, 225, 0.6);
  --red-opacity: rgba(220, 0, 73, 0.6);
  --green-opacity: rgba(31, 123, 0, 0.6);
}
